@* DisableLinePragmas: true *@
@using System.Web.Mvc.Html
@using Epinova.ElasticSearch.Core.EPiServer.Extensions
@using EPiServer.Shell.Web.Mvc.Html
@model Epinova.ElasticSearch.Core.EPiServer.Models.ViewModels.SettingsViewModel

@{
    Layout = "~/Views/ElasticSearchAdmin/_ElasticSearch.cshtml";
    string localizationPath = "/epinovaelasticsearch/console/";
}

<div class="epi-padding-small">
    @using (Html.BeginForm("Index", "ElasticSettings"))
    {
        <h2>@Html.TranslateWithPathRaw("settings", localizationPath)</h2>
        <p>
            <label>
                @Html.TranslateWithPathRaw("index", localizationPath)
                <select data-dojo-type="dijit/form/Select" name="index">
                    @foreach (string index in Model.Indices)
                    {
                        <option value="@Html.Raw(index)" selected="@(Model.SelectedIndex.Equals(index, StringComparison.OrdinalIgnoreCase) ? "selected" : null)">@index</option>
                    }
                </select>
            </label>
            <button data-dojo-type="dijit/form/Button" type="submit" class="epi-primary">@Html.TranslateWithPathRaw("show", localizationPath)</button>
        </p>
    }

    @if (Model.Result != null)
    {
        <pre>@Model.Result</pre>
    }
</div>