@* DisableLinePragmas: true *@
@using System.Web.Mvc.Html
@using Epinova.ElasticSearch.Core.EPiServer.Extensions
@using EPiServer.Shell.Web.Mvc.Html

@{
    Layout = "~/Views/ElasticSearchAdmin/_ElasticSearch.cshtml";
}

@section Styles
{
    <style>
        .Sleek .dijitTextArea {
            width: 99%;
            min-width: 99%;
            max-width: 99%;
        }

        .Sleek .dijitReadOnly {
            opacity: .8;
        }
    </style>
}

@{
    string localizationPath = "/epinovaelasticsearch/console/";
}

<div class="epi-padding-small">
    @using (Html.BeginForm("Index", "ElasticConsole"))
    {
        <h2>@Html.TranslateWithPath("query", localizationPath)</h2>
        <label>
            @Html.TranslateWithPathRaw("index", localizationPath)
            <select data-dojo-type="dijit/form/Select" name="index">
                @foreach (string index in ViewBag.Indices)
                {
                    <option value="@index" selected="@(ViewBag.SelectedIndex == index ? "selected" : null)">@index</option>
                }
            </select>
        </label>
        <textarea name="query" data-dojo-type="dijit/form/SimpleTextarea" data-dojo-props="style:'height:100px;'">@ViewBag.Query</textarea>
        <p>
            <button data-dojo-type="dijit/form/Button" type="submit" class="epi-primary">@Html.TranslateWithPathRaw("execute", localizationPath)</button>
        </p>
    }

    @if (ViewBag.Result != null)
    {
        <h2>@Html.TranslateWithPath("result", localizationPath)</h2>
        <pre>@ViewBag.Result</pre>
    }
</div>
